beautifulsoup4==4.14.2
chromadb==1.1.0
folium==0.20.0
langchain_community==0.3.30
langchain_core==0.3.76
marisa_trie==1.2.1
mysql_connector_repackaged==0.3.1
networkx==3.5
nltk==3.9.1
numpyencoder==0.3.2
pandas==2.3.3
plotly==6.1.2
rapidfuzz==3.14.1
Requests==2.32.5
sentence_transformers==5.1.0
